<p><label for="coupon_id">Coupon Nmr: </label>
<input id="coupon_id" type="text" name="coupon_id" maxlength="100" required></p>
<p><label for="firstname">Firstname: </label>
<input id="firstname" type="text" name="firstname" maxlength="100" required></p>
<p><label for="lastname">Lastname: </label>
<input id="lastname" type="text" name="lastname" maxlength="100" required></p>
<p><label for="phone_number">Phone Nmr: </label>
<input id="phone_number" type="text" name="phone_number" maxlength="100" required></p>


<p><label for="Match1">Match 1: </label>
<input id="match1" type="text" name="Match1" maxlength="100" required></p>
<p><label for="Match2">Match 2: </label>
<input id="match2" type="text" name="Match2" maxlength="100" required></p>
<p><label for="Match3">Match 3: </label>
<input id="match3" type="text" name="Match3" maxlength="100" required></p>
<p><label for="Match4">Match 4: </label>
<input id="match4" type="text" name="Match4" maxlength="100" required></p>
<p><label for="Match5">Match 5: </label>
<input id="match5" type="text" name="Match5" maxlength="100" required></p>
<p><label for="Match6">Match 6: </label>
<input id="match6" type="text" name="Match6" maxlength="100" required></p>
<p><label for="Match7">Match 7: </label>
<input id="match7" type="text" name="Match7" maxlength="100" required></p>
<p><label for="Match8">Match 8: </label>
<input id="match8" type="text" name="Match8" maxlength="100" required></p>
<p><label for="Match9">Match 9: </label>
<input id="match9" type="text" name="Match9" maxlength="100" required></p>
<p><label for="Match10">Match 10: </label>
<input id="match10" type="text" name="Match10" maxlength="100" required></p>
<p><label for="Match11">Match 11: </label>
<input id="match11" type="text" name="Match11" maxlength="100" required></p>
<p><label for="Match12">Match 12: </label>
<input id="match12" type="text" name="Match12" maxlength="100" required></p>

<p><label for="Bet1">Bet 1: </label>
<input id="bet1" type="text" name="Bet1" maxlength="100" required></p>
<p><label for="Bet2">Bet 2: </label>
<input id="bet2" type="text" name="Bet2" maxlength="100" required></p>
<p><label for="Bet3">Bet 3: </label>
<input id="bet3" type="text" name="Bet3" maxlength="100" required></p>
<p><label for="Bet4">Bet 4: </label>
<input id="bet4" type="text" name="Bet4" maxlength="100" required></p>
<p><label for="Bet5">Bet 5: </label>
<input id="bet5" type="text" name="Bet5" maxlength="100" required></p>
<p><label for="Bet6">Bet 6: </label>
<input id="bet6" type="text" name="Bet6" maxlength="100" required></p>
<p><label for="Bet7">Bet 7: </label>
<input id="bet7" type="text" name="Bet7" maxlength="100" required></p>
<p><label for="Bet8">Bet 8: </label>
<input id="bet8" type="text" name="Bet8" maxlength="100" required></p>
<p><label for="Bet9">Bet 9: </label>
<input id="bet9" type="text" name="Bet9" maxlength="100" required></p>
<p><label for="Bet10">Bet 10: </label>
<input id="bet10" type="text" name="Bet10" maxlength="100" required></p>
<p><label for="Bet11">Bet 11: </label>
<input id="bet11" type="text" name="Bet11" maxlength="100" required></p>
<p><label for="Bet12">Bet 12: </label>
<input id="bet12" type="text" name="Bet12" maxlength="100" required></p>

<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
