
     
<div class="col-sm-6 content-boxes-v3">
    <div class="clearfix margin-bottom-30">
      <i class="icon-custom icon-md rounded-x icon-bg-u icon-line icon-pointer"></i>
      <div class="content-boxes-in-v3">
        <p>Tour</p>
        <h2 class="heading-sm">{{ object.pk }}</h2>
        <p>{{ object.games_match1 }}</p>
        <p>{{ object.games_match2 }}</p>
        <p>{{ object.games_match3 }}</p>
      </div>
    </div>
  </div>



  <p>To see all coupons for this game, please follow this link</p>
  <td data-label="Tour"><a href="{% url 'games_coupons' object.pk %}">{{ object.pk }}</a></td>


