
{% extends "base.html" %}
{% load static %}

{% block title %}
  <title>Main Page| 210</title>
{% endblock %}

{% block main %}
    <div class="col-lg-12">
        <div class="row border-bottom white-bg dashboard-header animated fadeInRight">
            <h1>Welcome to 210 betting house! </h1>
            </br>
            ### Add a table here for an image or something. Maybe more text. ###
            <p>We are proud to be the best online platform for this classic game!</p>
            </br>
            <p>In order to play you need to register yourself in using the links above.</p>
            </br>
            <p>You can check the past results without login.</p>
        </div>
    </div>
{% endblock %}