<!DOCTYPE html>
<html lang="en">

  <head>
      {% block title %}
          <title>210</title>
      {% endblock %}

      {% block head %}
          {% include "head.html" %}
      {% endblock %}
  </head>

  <body class="top-navigation pace-done animated fadeInRight">
    <div id="wrapper">
            <div id="page-wrapper" class="gray-bg">
            {% block header %}
                {% include "header.html" %}
            {% endblock %}
            {% block main %}
            <p>This is the base template.</p>
            {% endblock %}

            {% block footer %}
                {% include "footer.html" %}
            {% endblock %}
            </div>
            {% block foot %}
                {% include "foot.html" %}
            {% endblock %}
  </body>
</html>